<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Home Security</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/Content/csharp.css" > 
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header id="mainHeader">
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo.png" id="logo" />
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dashboard", "Index", "HomeSecurity")</li>
                            <li>@Html.ActionLink("Documentation", "Index", "Docs")</li>
                            <li>@Html.ActionLink("Sponsors", "Sponsors", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Home Security Sample Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/jquery.signalR-1.0.0-alpha2.min.js")
        @Scripts.Render("~/signalr/hubs")
        @RenderSection("scripts", required: false)
    </body>
</html>
